$code-font-family               = "EnvyCodeR", "Source Code Pro", "Microsoft Jhenghei", "Hiragino Sans GB", "Microsoft YaHei"
$code-font-size                 = 16px
$code-border-radius             = 3px
$code-foreground                = #555
$code-background                = #eee
$line-height-code-block         = 1.6